DATABASE_URL=postgres://postgres:CHANGE_ME@c3-protect-remote_c3-remote-db:5432/c3_remote
BOOTSTRAP_ADMIN_EMAIL=yan.nobrega@c3support.com.br
BOOTSTRAP_ADMIN_NAME=Yan Nobrega
BOOTSTRAP_ADMIN_PASSWORD=CHANGE_ME_WITH_AT_LEAST_12_CHARACTERS
CREDENTIAL_ENCRYPTION_KEY=CHANGE_ME_WITH_A_RANDOM_SECRET
GATEWAY_API_KEY=PASTE_THE_CURRENT_GATEWAY_KEY_HERE
GATEWAY_BASE_URL=https://remote.c3protect.com.br
MIGRATION_SOURCE_URL=https://access.c3protect.com.br
MIGRATION_EXPORT_TOKEN=
MIGRATION_SOURCE_BYPASS_TOKEN=
NODE_ENV=production
PORT=3000
HOSTNAME=0.0.0.0
